:root {
    --color: #6f834a;
    --sec: #b7d883;
    --bg: #d6e6b4;
    --tri2: #F6F0D7;
    --red: rgb(250, 108, 108);
    --green: rgb(95, 245, 187);
    --blue: rgb(0, 191, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--color);

}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    background-color: var(--sec);
    overflow-x: hidden!important;
}

#main {
    height: 100%;
    width: 100%;
    /* padding-top: 7%; */
}


section.allElems {
    height: 100%;
    width: 100%;
    padding: 2%;
    overflow: auto;
    position: absolute;

}

.allElems header {
    width: 100%;
    margin-top: 10%;
    background-image: url(bg.avif);
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
    border-radius: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
}

header .header1 h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 6%;
}

header .header1 h2 {
    font-size: 3rem;
    font-weight: 500;
}

header .header1 h4 {
    font-weight: 500;
    font-size: 3rem;
}

header .header2 h2 {
    font-weight: 700;
    font-size: 70px;
}

header .header2 h4 {
    font-weight: 500;
    /* margin-top: -10px; */
    margin-bottom: 45px;
    font-size: 40px;
}

header .header2 h3 {
    font-weight: 500;
    font-size: 2rem;
    opacity: 0.8;
}



.allElems .allFeatures {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1%;
    margin: 1%;

}

.elem {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 3%;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;

}

.elem:active {
    scale: 0.97;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 2%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 999;
}

.back {
    position: absolute;
    right: 1%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 1% 1%;
    border: 2px solid red;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.back:active {
    scale: 0.97;
}


.todo-list-fullpage h2 {
    font-size: 3rem;
}

.todo-list-fullpage .todo-container {
    height: 70%;
    width: 100%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.todo-list-fullpage .todo-container .addTask {
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}


.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}

.todo-container .addTask form #task-input {
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    background-color: var(--pri);
    /* color: var(--sec); */
    border: none;
    outline: none;
    font-weight: 500;
}

.todo-container .addTask form textarea {
    /* padding: 15px 25px; */
    width: 100%;
    padding-top: 5%;
    font-size: 1.5rem;
    background-color: var(--pri);
    /* color: var(--color); */
    border-radius: 5px;
    font-weight: 500;
    border: none;
    outline: none;
    /* margin-bottom: 20px; */
}

.todo-container .addTask form button {
    /* padding: 15px 25px; */
    width: 100%;
    font-size: 2rem;
    background-color: var(--tri2);
    border-radius: 5px;
    border: 2px solid var(--color);
    font-weight: 700;
    outline: none;
    /* margin-bottom: 20px; */
    transition: all ease 0.3s;
    margin-top: 5%;
}

.todo-container .addTask form button:active {
    scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    /* height: 100%; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    margin-bottom: 3%;
    border-radius: 10px;
}

.task h5 {
    color: var(--tri2);
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    /* gap: 5%; */
}

.task h5 span {
    background-color: var(--red);
    color: var(--tri2);
    padding: 30% 30%;
    border-radius: 50%;
    font-size: 0.7rem;
}

.task h5 span.true {
    opacity: 1;
}

.task h5 span.false {
    opacity: 0;
}

.task button {
    padding: 1% 3%;
    color: var(--pri);
    background-color: var(--green);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.task button:active {
    scale: 0.96;
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 2%;
    margin-bottom: 5%;
    width: 100%;
    gap: 3%;
}

.mark-imp input {
    scale: 1.7;
}

.mark-imp label {
    font-size: 21px;

}



.daily-planner-fullpage h2 {
    font-size: 70px;
}

.daily-planner-fullpage .day-planner {
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time {
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 12%;
    left: 2%;
    color: var(--tri1);
    font-size: 16px;
}

.day-planner .day-planner-time input {
    padding: 20px 45px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 35px;
    padding-top: 34px;
    outline: none;
}




.motivation-fullPage-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage .motivation-container {
    height: 60%;
    width: 70%;
    border-radius: 5%;
    position: relative;
}

.motivational-fullpage .motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 50px;
    scale: 1.15;
    filter: blur(100px);
    z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper {
    z-index: 10;
    position: absolute;

    width: 100%;
    background-color: var(--tri1);
    padding: 2%;
    border-radius: 30px;
    border: 6px solid var(--tri2);

}

.motivation-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-1 h2 {

    background-color: var(--tri2);
    padding: 3%;
    font-size: 2rem;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

.motivation-2 {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 3%;

}

.motivation-2 h1 {
    font-size: 65px;
    font-weight: 700;
    color: var(--sec);

}

.motivation-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* 
.motivation-3 h2 {
    background-color: var(--tri2);
    padding: 3%;
    border-radius: 20px;
    font-size: 2rem;
    width: fit-content;
    font-weight: 500;
    text-align: right;
} */

.motivational-fullpage .motivation-container .motivation-wrapper img {
    position: absolute;
    right: 5%;
    opacity: 0.2;
    top: 5%;
    height: 12%;
}


.pomodoro-fullpage h2 {
    font-size: 3rem;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 5rem;
}

.pomo-timer button {
    background-color: var(--tri2);
    padding: 1% 4%;
    font-size: 2rem;
    margin: 1%;
    border-radius: 5px;
    border: none;
    /* box-shadow: 7px 7px 0px var(--black); */
    transition: all ease 0.2s;
    font-weight: 700;
    cursor: pointer;
}

/* .pomo-timer button:active {
    box-shadow: 0px 0px 0px gray);

} */

.pomodoro-fullpage .session {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--green);
    padding: 1% 1%;
    font-size: 2rem;
    border-radius: 5px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 3% 4%;
}

.nav-in {
    display: flex;
    background-color: var(--tri2);
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-radius: 15px;
    border: #6f834a 2px solid;

}

.nav-in h2 {
    font-size: 2rem;
    font-weight: 700;
}

.theme {

    background-color: var(--sec);
    padding: 1% 1%;
    border-radius: 10px;
    transition: all ease 0.2s;
    cursor: pointer;

}

.theme h4 {
    color: white;
    font-weight: 700;
    font-size: 1rem;
    pointer-events: none;
}

.theme:active {
    scale: 0.96;
}